$blue: #0d47a1;
$red: #b71c1c;

.icon-game {
  font-size: 2rem;
}

.card {
  color: #FFFFFF;
  &:active {
    border: 2px solid $blue!important;
  }
}
img {
  border-radius: 2px;
}
.card:after {
  border-radius: 2px;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(13, 71, 161, 0.7);
  z-index: 2;
}
.disabled-game:after {
  background-color: rgba(183, 28, 28, 0.8);
}

.title {
  color: #4e575f;
}

.scroll-horizontal {
  overflow: auto;
  white-space: nowrap;
}
