$white: #FFFFFF;
$blueGrey: #607d8b;
$border-radius: 1px;
$darkGrey: #616161;
$purple: #8e24aa;
$green: #43a047;
$red: #e53935;
$blue: #0d47a1;
.card {
  border-radius: $border-radius;
}

.card-header {
  border: none;
  background-color: lighten($blueGrey, 45);
  color: darken($blueGrey, 30);
  border-top: {
    left-radius: $border-radius;
    right-radius: $border-radius;
  }
}

.form-control {
  border-radius: $border-radius;
  &:focus {
    border-color: $darkGrey;
    box-shadow: none;
  }
  &:active {
    box-shadow: none;
  }
}

.btn-login {
  background-color: $blueGrey;
  color: $white;
  border-radius: $border-radius;
  &:active {
    box-shadow: none;
    background-color: darken($blueGrey, 20)!important;
  }
  &:hover {
    background-color: darken($blueGrey, 20);
    box-shadow: none;
  }
  &:focus {
    background-color: lighten($blueGrey, 10);
    box-shadow: none;
  }
}

.ng-valid.ng-touched {
  border-color: $green;
}
.ng-invalid.ng-touched {
  border-color: $red;
}


.custom-control-label::after, .custom-control-label:focus, .custom-control-label:focus {
  border-radius: $border-radius;
  background-color: $blue;
  box-shadow: none!important;
  color: #FFFFFF;
  cursor: pointer;
}
