<div class="row settings" [@page]>
  <div class="col-6">
    <h5>Параметры игры</h5>
    <div class="row">

      <div class="col-12 form-group">
        <label>Поле ввода</label>
        <input class="form-control">
      </div>

      <div class="col-12 form-group">
        <label>Поле ввода</label>
        <input class="form-control">
      </div>  

      <div class="col-auto">
        <button class="btn pl-5 pr-5" (click)="onBack()">Отмена</button>
      </div>
      <div class="col-auto">
        <button class="btn pl-5 pr-5" (click)="addGame()">Запустить игру</button>
      </div>
    </div>
  </div>
</div>
