$blue: #0d47a1;

.icon-game {
  font-size: 2rem;
}

.card {
  color: #FFFFFF;
  &:active {
    border: 2px solid $blue!important;
  }
}
img {
  border-radius: 2px;
}
.card:after {
  border-radius: 2px;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(13, 71, 161, 0.71);
  z-index: 2;
}

.title {
  color: #4e575f;
}

.scroll-horizontal {
  overflow: auto;
  white-space: nowrap;
}
