.icon-game {
  font-size: 2rem;
}

.card {
  border-radius: 2px;
}
img {
  border-radius: 2px;
}
.card:after {
  border-radius: 2px;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(142, 36, 170, 0.61);
  z-index: 2;
}

.title {
  color: #4e575f;
}

.scroll-horizontal {
  overflow: auto;
  white-space: nowrap;
}
